{% extends 'blog/base.html' %}
{% load static %}

{% block content %}

<div class="col-sm-10">
    <h2 class="text-white my-5">About Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At doloremque accusantium labore vitae tempore minus, totam officia quidem quia accusamus saepe, possimus autem aperiam voluptate asperiores quae perferendis ea expedita.</p>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores aspernatur et, neque error provident repellat illum quod vitae culpa explicabo debitis doloribus ipsam sequi, consectetur beatae laborum sapiente fugit deserunt, architecto vero eligendi praesentium adipisci? Soluta quaerat ab ad quas neque assumenda minus dolor rerum laborum incidunt. Culpa, iure. Inventore.</p>
</div>

{% endblock content %}